.appbox{
  width: 240px;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px #ccc;
  margin: 10px;
  padding-bottom: 15px;
}

.SearchBar{
  padding: 10px;
  width: 90%;
  margin: auto;

}
.SearchBar label{
  font-size: 14px;
}
.protable{
  width: 90%;
  margin: auto;
}
.tabletitle{
  font-weight: bolder;
}
#categorytitle{
  font-weight: bolder;
}
.showProduct{
  width: 100%;
}
html,body,a,div,ul,li{
  margin: 0;
  padding: 0;
}
ul li{
  list-style: none;
}